
/* css crash styles for crash reports */

body {
  font: 14px Helvetica, Arial, sans-serif;
}

a:link {
  color: #116594;
  text-decoration: none;
}

a:visited {
  color: #116594;
  text-decoration: none;
}

#mainlist {
  margin: 10px;
}

.header {
  width: 100%;
  background-color: #e8ebef;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.header-elements {
  margin: 3px;
  display: inline-block;
  white-space: nowrap;
  padding:5px;
  color: #202020;
}

.listheader {
  width: 100%;
  background-color: #BCC6CC;
  border: 1px solid gray;
  white-space: nowrap;
}

.signature {
  width: 100%;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-color: #e8ebef;
  margin-top: 7px;
  white-space: nowrap;
}

.hdr-rank {
  display: inline-block;
  padding: 5px;
  width: 30px;
}

.hdr-percent {
  display: inline-block;
  padding: 5px;
  width: 30px;
}

.hdr-signature {
  display: inline-block;
  padding: 5px;
  max-width: 70%;
}

.hdr-search {
  display: inline-block;
  text-align: right;
  padding: 5px;
  width: 15px;
}

.oomiconclass {
  display: inline-block;
}

.copyicon {
  display: inline-block;
  cursor: pointer;
}

.hdr-rightpanel {
  display: inline-block;
  float: right;
}

.hdr-clientcount {
  display: inline-block;
  padding: 5px;
  width: 50px;
}

.hdr-count {
  display: inline-block;
  padding: 5px;
  width: 50px;
}

.signature-meta {
  font-size: 12px;
  width: 100%;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #e1eef7;
  display: inline-block;
  margin-bottom: 0px;
  white-space: nowrap;
}

.signature-meta-left {
  display: inline-block;
  width: 400px;
  border: solid 0px black;
  white-space: nowrap;
}

.signature-meta-right {
  display: inline-block;
  width:auto;
  border: solid 0px black;
  white-space: nowrap;
}

.meta-title {
  margin-left: 10px;
  display: inline-block;
  border: 0px solid lightgrey;
  width: 150px;
}

.meta-data {
  display: inline-block;
  border: 0px solid lightgrey;
  margin:1px;
  width: auto;
}

.report-header {
  font-size: 12px;
  background-color: #e1eef7;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.report-meta {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-index {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 75px;
  overflow: hidden;
}

.report-meta-data-long {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-short {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-meta {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-compositor {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-type {
  display: inline-block;
  border: 0px solid lightgrey;
  width: 225px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report-meta-data-reason {
  display: inline-block;
  border: 0px solid lightgrey;
  text-overflow: ellipsis;
  overflow: hidden;
}

.report {
  width: 100%;
  font-size: 12px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: #fafafa;
}

.stack {
  display: inline-block;
  padding-left: 10px;
  overflow-x: auto;
  white-space: nowrap;
  border-top: 1px solid lightgray;
}

.stackline {
  padding: 1px;
  white-space: nowrap;
}

.frame-index {
  display: inline-block;
  white-space: nowrap;
  min-width:18px;
}

.src-link {
  display: inline-block;
  white-space: nowrap;
  min-width: 25px;
}

.module-name {
  display: inline-block;
  white-space: nowrap;
  min-width: 125px;
}

.stack-frame {
  display: inline-block;
  white-space: nowrap;
}

.processeddate {
}

.annotation-container {
  position: absolute;
  color: #183a4e;
  z-index: 2;
  background-color: #e1eef7;
  top: 10px;
  left: 10%;
  right: 10%;
  min-height: 150px;
  min-width: 300px;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
}

.ann-hdr {
  display: inline-block;
  white-space: nowrap;
  border: solid 0px blue;
  width: 100%;
}

.ann-fixed-by {
  display: inline-block;
  white-space: nowrap;
  width: 150px;
  border: solid 0px gray;
}

.ann-notes {
  display: inline-block;
  white-space: nowrap;
  border: solid 0px gray;
}

@keyframes delayed-hide {
  to {
    visibility: hidden;
  }
}

.delayed-hide {
  visibility: visible;
  animation: 0s linear 2.3s forwards delayed-hide;
}

.icon {
  color: #617482;
}

.lticon {
  color: lightgray;
}

.noicon {
  visibility:hidden;
}